blockquote,
body,
code,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
li,
p,
pre,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
abbr,
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: 400;
}
ul li {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 400;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
legend {
  color: #000;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
body {
  margin: 0;
  color: #9a9a9a;
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  line-height: 1.6em;
  font-weight: 100;
  min-width: 265px;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
}
footer div {
  margin: 20px auto;
}
h1,
.h1 {
  font-size: 3em;
  line-height: normal;
  margin: 0.67em 0;
}
h2,
.h2 {
  font-size: 2em;
  line-height: normal;
  margin: 0.83em 0;
  color: black;
}
h3,
.h3 {
  font-size: 1.5em;
  line-height: normal;
  margin: 1em 0;
}
h4,
.h4 {
  margin: 1.33em 0;
  line-height: normal;
}
.sliderTopContent .h1 span {
  font-size: 1.25em;
}
.hListPict p {
  margin-bottom: 30px;
}
.header,
.sliderTop,
.hListPict,
.hListPict2,
.hList,
.discover,
.hListWeb,
.sliderBottom,
.packagesPrice,
.sliderStuff {
  padding: 0.1px 0;
}
.wrapper {
  margin: 30px auto;
}
.wrapperOut {
  max-width: 2048px;
}
.wrapperIn {
  max-width: 1024px;
  margin: 30px auto;
  padding: 0 15px;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.list {
  list-style: none;
  padding-left: 0;
  font-size: 14px;
}
.fa-search {
  color: #1d9d73;
}
.headerRight {
  float: right;
}
.menuMain {
  display: inline-block;
  margin: 6px 0;
  position: relative;
}
.menuMain .list > li:hover > a {
  color: #1d9d73;
}
.logo,
.menuMain li {
  display: inline-block;
}
.menuMain .list > li {
  margin-right: 20px;
}
#checkMenu {
  display: none;
}
.withSubmenu {
  position: relative;
}
.withSubmenu:hover label {
  color: #1d9d73;
}
.submenu {
  position: absolute;
  left: 0;
  top: 100%;
  width: 130px;
  background-color: rgba(255, 255, 255, 0.73);
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.submenu li {
  color: #fff;
  background: #1d9d73;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: list-item;
  margin-top: 3px;
  width: 100%;
  -webkit-box-shadow: inset 0 0 1px 1px;
  -moz-box-shadow: inset 0 0 1px 1px;
  box-shadow: inset 0 0 1px 1px;
}
.submenu a {
  padding: 4px 5px;
  display: block;
}
.submenu li:hover a {
  color: #1d9d73;
  background-color: #fff;
}
#checkSubmenu1,
#checkSubmenu3,
.submenu1,
.submenu3 {
  display: none;
}
#checkSubmenu1:checked + .submenu1,
#checkSubmenu3:checked + .submenu3 {
  display: block;
}
.menuBtn {
  display: none;
  cursor: pointer;
  border: 1px solid #1d9d73;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #1d9d73;
  width: 36px;
  text-align: center;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -webkit-box-shadow: inset 0 0 11px 2px;
  -moz-box-shadow: inset 0 0 11px 2px;
  box-shadow: inset 0 0 11px 2px;
  margin-right: 15px;
}
.menuBtn:active {
  -webkit-box-shadow: 1px 1px 2px 2px #888 inset;
  -moz-box-shadow: 1px 1px 2px 2px #888 inset;
  box-shadow: 1px 1px 2px 2px #888 inset;
}
.searchBox {
  display: inline-block;
  position: relative;
}
.fa-search {
  cursor: pointer;
}
.searchInputTxt {
  position: absolute;
  top: 130%;
  right: 0;
  -moz-border-radius: 12px;
  border-radius: 12px;
  display: none;
  padding: 4px 5px;
}
#checkSearch {
  display: none;
}
#checkSearch:checked + .searchInputTxt {
  display: block;
}
#checkMenu:checked + .list {
  display: block;
}
.menuVColor {
  margin: 30px 0;
}
.menuVColor img {
  margin: 12px 0;
}
.menuVColor a {
  padding-left: 25px;
}
.sliderBackgr {
  -moz-background-size: auto 100%;
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.sliderTop {
  background-image: url("../img/slider-top1.png");
  color: white;
}
.sliderBottom .hListItems {
  padding: 15% 0;
}
.sliderBottom {
  background-image: url("../img/slider-bottom1.png");
  color: #1d9d73;
}
.sliderTopContent {
  text-align: center;
  padding: 15% 0;
}
.buttons {
  margin: 20px 0;
}
.btn {
  display: inline-block;
  border: 1px solid white;
  -moz-border-radius: 20px;
  border-radius: 20px;
  padding: 10px 20px;
  min-width: 110px;
  margin: 0 10px;
  font-size: 14px;
}
.btn:hover {
  background-color: #1d9d73;
  border-color: #1d9d73;
}
.btnColor {
  color: white;
  background-color: #1d9d73;
  border-color: #1d9d73;
}
.btnColor:hover {
  color: #1d9d73;
  background-color: white;
}
.hListPict,
.hListPict2,
.packagesPrice,
.sliderStuff,
footer {
  text-align: center;
}
.hList,
.sliderStuff,
.menuVColor li:hover {
  background-color: #f1f1f1;
}
.hListItems {
  font-size: 0;
  margin: 0 -15px;
}
.hListItem {
  display: inline-block;
  margin: 20px 15px;
  width: -webkit-calc(100% / 3 - 30px);
  width: -moz-calc(100% / 3 - 30px);
  width: calc(100% / 3 - 30px);
  font-size: 12px;
  vertical-align: top;
  color: inherit;
}
.hListItemTransp {
  display: inline-block;
  margin: 20px 15px;
  width: -webkit-calc(100% / 4 - 30px);
  width: -moz-calc(100% / 4 - 30px);
  width: calc(100% / 4 - 30px);
  font-size: 12px;
  vertical-align: top;
  color: inherit;
  text-align: center;
  font-size: 16px;
}
.hListItemsColor {
  font-size: 0;
}
.hListItemColor1 {
  display: inline-block;
  margin: 20px 0px;
  width: -webkit-calc(100% / 3 - 0px);
  width: -moz-calc(100% / 3 - 0px);
  width: calc(100% / 3 - 0px);
  font-size: 12px;
  vertical-align: top;
  color: #fff;
  text-align: center;
  padding: 5%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #1fa87a;
}
.hListItemColor2 {
  display: inline-block;
  margin: 20px 0px;
  width: -webkit-calc(100% / 3 - 0px);
  width: -moz-calc(100% / 3 - 0px);
  width: calc(100% / 3 - 0px);
  font-size: 12px;
  vertical-align: top;
  color: #fff;
  text-align: center;
  padding: 5%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #1d9d73;
}
.hListItemColor3 {
  display: inline-block;
  margin: 20px 0px;
  width: -webkit-calc(100% / 3 - 0px);
  width: -moz-calc(100% / 3 - 0px);
  width: calc(100% / 3 - 0px);
  font-size: 12px;
  vertical-align: top;
  color: #fff;
  text-align: center;
  padding: 5%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #1b936c;
}
.hListPict .h3 {
  color: #1d9d73;
}
.hListPict2 .h3,
.hList .h3,
.sliderStuff .h3 {
  color: #5b5b5b;
}
.hListItem:hover .itemImg {
  -webkit-transform: scaleX(0.95) scaleY(0.92);
  -moz-transform: scaleX(0.95) scaleY(0.92);
  -ms-transform: scaleX(0.95) scaleY(0.92);
  -o-transform: scaleX(0.95) scaleY(0.92);
  transform: scaleX(0.95) scaleY(0.92);
}
.pictFloat {
  float: left;
  width: 45%;
  max-width: 100%;
}
.pictFloatItem {
  width: 25%;
  text-align: center;
}
.itemFloat {
  overflow: hidden;
  padding-left: 10%;
}
.hListItemContent {
  overflow: hidden;
  padding-left: 10px;
}
.itemImgBack {
  background-color: #1d9d73;
}
.itemImg {
  display: block;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  -o-transition: -o-transform 1s;
  -moz-transition: transform 1s, -moz-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s, -moz-transform 1s, -o-transform 1s;
}
.itemLinks {
  margin: 8px 0;
}
.itemLink {
  color: #1d9d73;
  font-size: 13px;
}
.itemLinkGroup {
  display: inline-block;
  margin: 0 10px;
}
.fa {
  margin: 0 5px;
}
.circleBack1 {
  background-color: #f1f1f1;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 10px;
}
.circleBack2 {
  background-color: #1d9d73;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 115px;
  height: 115px;
  margin: 0 auto;
}
.circleBack2 img {
  margin: 30% auto;
}
.price1 {
  background-color: #1fa87a;
  color: white;
  font-size: 2em;
  padding: 10px 0;
}
.price2 {
  background-color: #1d9d73;
  color: white;
  font-size: 2em;
  padding: 10px 0;
}
.price3 {
  background-color: #1b936c;
  color: white;
  font-size: 2em;
  padding: 10px 0;
}
.priceNumber {
  padding: 0 3px;
}
.priceNumber:before {
  content: "$";
  font-size: .55em;
  vertical-align: text-top;
}
.priceNumber:after {
  content: "/month";
  font-size: .35em;
}
.hListItemPrice {
  display: inline-block;
  margin: 20px 15px;
  width: -webkit-calc(100% / 3 - 30px);
  width: -moz-calc(100% / 3 - 30px);
  width: calc(100% / 3 - 30px);
  font-size: 12px;
  vertical-align: top;
  color: inherit;
  margin-top: 0;
  margin-bottom: 0;
}
.listProp {
  display: inherit;
  text-align: left;
  margin: 20px 0;
}
.listProp li {
  line-height: 2.3em;
}
.listProp .fa-check {
  color: #1d9d73;
}
.listProp .fa-close {
  color: #9a9a9a;
}
.itemPriceText {
  padding-left: 10px;
}
.stuffName {
  margin-bottom: 5px;
}
.workPosition {
  color: #1d9d73;
  font-size: 1.2em;
}
.phone {
  vertical-align: middle;
}
.phoneImg {
  margin-right: 10px;
}
.phoneNumber,
.phoneImg {
  font-size: 2em;
  display: inline-block;
  vertical-align: middle;
}
.netSocLinks {
  font-size: medium;
  color: #9a9a9a;
}
.netSocLinks .fa:hover {
  color: #1d9d73;
}
footer .logoIcon {
  width: 25px;
  display: inline-block;
  vertical-align: middle;
}
@media screen and (max-width: 700px) {
  .menuMain .list {
    width: 90px;
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: rgba(255, 255, 255, 0.73);
  }
  .menuMain > .list > li {
    color: #fff;
    background: #1d9d73;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: list-item;
    margin-top: 3px;
    width: 100%;
    -webkit-box-shadow: inset 0 0 1px 1px;
    -moz-box-shadow: inset 0 0 1px 1px;
    box-shadow: inset 0 0 1px 1px;
  }
  .menuMain > .list > li:hover > a,
  .withSubmenu:hover > label {
    background-color: #fff;
  }
  .menuMain a {
    padding: 4px 5px;
    display: block;
  }
  .withSubmenu > label {
    padding: 4px 5px;
    display: block;
  }
  .menuBtn {
    display: inline-block;
    padding: 3px 0;
  }
  .submenu {
    position: absolute;
    right: 100%;
    left: auto;
    top: 0;
  }
  .hList .hListItem {
    width: -webkit-calc(100% / 2 - 30px);
    width: -moz-calc(100% / 2 - 30px);
    width: calc(100% / 2 - 30px);
  }
  .discover .pictFloat {
    float: none;
    min-width: 250px;
  }
  .discover {
    text-align: center;
  }
  .discover .list {
    text-align: left;
    display: inline-block;
  }
  .itemFloat {
    padding: 0;
  }
  header .fa-angle-down {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
}
@media screen and (max-width: 680px) {
  .hListItemPrice {
    width: -webkit-calc(100% / 2 - 30px);
    width: -moz-calc(100% / 2 - 30px);
    width: calc(100% / 2 - 30px);
  }
}
@media screen and (max-width: 600px) {
  .hListItems {
    margin: 0;
  }
  .hListPict .hListItem,
  .hListPict2 .hListItem {
    display: block;
    width: 100%;
    margin: 20px 0;
  }
  .itemImgBack {
    margin: 0 17%;
  }
  .hListItemColor1 {
    display: block;
    width: 100%;
    margin: 0;
  }
  .hListItemColor2 {
    display: block;
    width: 100%;
    margin: 0;
  }
  .hListItemColor3 {
    display: block;
    width: 100%;
    margin: 0;
  }
  .hListItemTransp {
    width: -webkit-calc(100% / 2 - 30px);
    width: -moz-calc(100% / 2 - 30px);
    width: calc(100% / 2 - 30px);
  }
}
@media screen and (max-width: 500px) {
  .hList .hListItem {
    display: block;
    width: 100%;
    margin: 20px 0;
  }
  .hListItemPrice {
    width: -webkit-calc(100% / 1 - 30px);
    width: -moz-calc(100% / 1 - 30px);
    width: calc(100% / 1 - 30px);
  }
}
@media screen and (max-width: 400px) {
  .hListItemTransp {
    display: block;
    width: 100%;
    margin: 20px 0;
  }
  .sliderBottom .hListItems {
    padding: 10% 0;
  }
  .itemImgBack {
    margin: 0;
  }
  .phoneImg {
    display: block;
    margin: 10px auto;
  }
}
@media screen and (max-width: 330px) {
  .headerRight {
    float: none;
  }
  .searchInputTxt {
    position: absolute;
    top: 0;
    left: 100%;
  }
  .menuBtn {
    margin-right: 7px;
  }
  .submenu {
    position: absolute;
    left: 100%;
    right: auto;
  }
}
